[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
dataclasses = "*"
Flask = "*"
flask-marshmallow = "*"
Flask-SQLAlchemy = "*"
greenlet = "*"
gunicorn = "*"
importlib-metadata = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
packaging = "*"
pyparsing = "*"
six = "*"
SQLAlchemy = "*"
typing_extensions = "*"
Werkzeug = "*"
zipp = "*"


[dev-packages]

[requires]
python_version = "3.9.18"
