.imagec{
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .image-costura {
        display:flex;
        justify-content: center;
        img{
        width: 40%;
        height: 45%;
        align-items: center;
        margin-left:10px;
        }
    }

    .text-costura{
        text-align:center;
        padding:90px 90px;
        font-size:30px;
        color:#5e5e5e;
    }

    .registration-box{
        display:flex;
        justify-content: center;
        
        .comment-box{
            width: 900px;
        }
        
    }
}

