@mixin base-btn {
    
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid grey;
    transition: all 0.5 ease-in-out;
    background-color: #ffe5f0;
    color: grey;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #ffe5f0;
    }
}